@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Ubuntu", sans-serif;
    scrollbar-gutter: stable;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html {
    height: 100%;
  }

  /* Prevent layout jitter when opening the RainbowKit modal. */
  [data-rk],
  #root {
    @apply min-h-screen;
    scrollbar-gutter: stable;
  }
}
